/* Light Mode Styles */
/* #F3B105 #FFEFBC */
body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.RS-home-container {
  background: linear-gradient(135deg, #74ebd5, #9face6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 0 20px;
  transition: background-color 0.3s, color 0.3s;
}

.RS-h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.RS-p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #666;
}

.RS-browse-link {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.RS-browse-link:hover {
  background-color: #0056b3;
}