.show-sport {
    flex-direction: column;
    justify-content: center;
    background-color: #f8f9fa; /* Light background color */
    border-radius: 8px; /* Rounded corners for the container */
    padding: 12px;
    padding-top: 100px;
} 

.sport-items-container {
    max-width: 50px;
    width: fit-content;
}



/* Popup Box */
.popup-box {
    position: relative;
    margin-left: 50%;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}



/* Popup Content */
.popup-content {
    position: fixed;
    margin-left: 40%; /* This makes positioning child elements like the button easier */ 
    width: fit-content;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 13px;
  }
 


/* Close Button */

  
.close-popup-btn {
    position: top right; /* Positioning the button */
    background-color: whitesmoke;
    color: black;
    border-radius: 13px; 
    margin-left: 5px;
} 
.close-popup-btn:hover {
    background-color:lightgrey; 

}


.matter-details {
 display: flex; 
 flex-direction: row;
}

/* Price and Matter Section */
.price-and-matter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 16px;
    font-weight: bold;
}

.matter-box {
    background-color: green;
    max-width: fit-content;
    color: white;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 12px;
}

/* Image Section */
.sport-item-image {
    height: 70%;
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
}

.sport-item-info {
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: fit-content;
    
}
