.user-wallet-container {
    padding: 30px;
    padding-bottom: 600px;
    max-height: 100vh;
}


div h2 { 
    display: flex; 
    text-align: left;
    color: green;
}

div h2 p { 
    color: green;
}

/* Ensure the wallet amount aligns to the right */
.wallet-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wallet-details-heading {
    color: green; 
    font-weight: bold;
    margin-top: 13px;
}

.wallet-amount {
    color: green;
    font-weight: bold;
}

.user-wallet-box {
    padding-top: 30px; 
    font-weight: 3px;
    font-size: 15px;
} 

/* User bookings */ 
.user-bookings {
    padding-top: 52px;
}



/* BookingDetails.css */

/* General modal styles */
.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

/* Modal headers */
.modal-header {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Button styles */
.modal-button {
    margin-right: 10px;
    margin-bottom: 15px;
}

.loading {
    text-align: center;
    margin: 20px 0;
}

/* Error message styles */
.error-message {
    color: red;
    font-size: 1.1rem;
}

/* Booking details list */
.booking-list {
    max-height: 300px;
    overflow-y: auto;
}

.booking-list-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.booking-item-status {
    font-weight: bold;
}

.typography-text {
    font-size: 1rem;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

